*~
*.a
*.cache
*.exe
*.lo
*.la
*.o
*.so
*.so.?
*.so.?.?.?
.deps
.dirstamp
.libs
.vscode
a.out
Makefile
/autom4te.cache
/config.log
/config.status
/libtool
/clients/mapscrn/twmapscrn
/clients/mapscrn/htmapscrn
/clients/tw*
/clients/ht*
/clients/hedgeytty*
/include/config.h
/include/stamp-h1
/include/Tutf/version.h
/include/Tw/autoconf.h
/include/Tw/version.h
/include/Ht/autoconf.h
/include/Ht/version.h
/include/twautoconf.h
/include/twconfig.h
/include/version.h
/server/mycat
/server/twdisplay
/server/twin
/server/twin_server
/server/htdisplay
/server/hedgeytty
/server/hedgeytty_server
/scripts/include
/scripts/txt
/test/twtest
/test/httest
